<div class="form-container">
    <h2>Registro de Proyecto</h2>
    <form>
      <div class="form-group">
        <label for="projectName">Titulo del Proyecto</label>
        <input type="text" id="projectName" name="projectName" required>
      </div>
      <div class="form-group">
        <label for="projectName">Obejetivo Principal</label>
        <input type="text" id="projectName" name="projectName" required>
      </div>
      <div class="form-group">
        <label for="projectName">Obejetivo Especificos</label>
        <input type="text" id="projectName" name="projectName" required>
      </div>
      <div class="form-group">
        <label for="projectName">Mapa</label>
        <input type="text" id="projectName" name="projectName" required>
      </div>
      <div class="form-group">
        <label for="projectName">Parrafo Uno</label>
        <input type="text" id="projectName" name="projectName" required>
      </div>
      <div class="form-group">
        <label for="projectName">Parrafo dos</label>
        <input type="text" id="projectName" name="projectName" required>
      </div>
      <div class="form-group">
        <label for="projectName">Parrafo Tres</label>
        <input type="text" id="projectName" name="projectName" required>
      </div>
      <div class="form-group">
        <label for="projectName">Portada</label>
        <input type="text" id="projectName" name="projectName" required>
      </div>
      <div class="form-group">
        <label for="projectName">Presupuesto</label>
        <input type="text" id="projectName" name="projectName" required>
      </div>
      <div class="form-group">
        <label for="projectName">Recolctado</label>
        <input type="text" id="projectName" name="projectName" required>
      </div>
      <div class="form-group">
        <label for="projectDescription">Descripción del Proyecto</label>
        <textarea id="projectDescription" name="projectDescription" required></textarea>
      </div>
      <div class="form-group">
        <label for="projectDueDate">Fecha de Inicio</label>
        <input type="date" id="projectDueDate" name="projectDueDate" required>
      </div>
      <div class="form-group">
        <label for="projectDueDate">Fecha de Fin</label>
        <input type="date" id="projectDueDate" name="projectDueDate" required>
      </div>
      <button type="submit">Registrar Proyecto</button>
    </form>
  </div>
  