<div class="form-container">
  <button class="close-button" (click)="onClose()">X</button>
  <h2 class="centrar">Registro de Proyecto</h2>
  <hr>
  <form>
   
    <div class="form-group">
      <label for="projectName">Título del Proyecto</label>
      <input type="text" id="projectName" name="projectName" required>
    </div>
    <div class="form-group">
      <label for="projectName">Objetivo Principal</label>
      <textarea id="projectDescription" name="projectDescription" required></textarea>
    </div>
    <div class="form-group">
      <label for="projectName">Objetivos Específicos </label>
      <textarea id="projectDescription" name="projectDescription" required></textarea>
    </div>
    <div class="form-group">
      <label for="projectName">Mapa</label>
      <textarea id="projectDescription" name="projectDescription" required></textarea>
    </div>
    <div class="form-group">
      <label for="projectName">Párrafo Uno</label>
      <textarea id="projectDescription" name="projectDescription" required></textarea>
    </div>
    <div class="form-group">
      <label for="projectName">Párrafo dos</label>
      <textarea id="projectDescription" name="projectDescription" required></textarea>
    </div>
    <div class="form-group">
      <label for="projectName">Párrafo Tres</label>
      <textarea id="projectDescription" name="projectDescription" required></textarea>
    </div>
    <div class="form-group">
      <label for="projectImage">Portada</label>
      <input type="file" id="projectImage" name="projectImage" accept="image/*" (change)="showPreview($event)">
    </div>
    
    <div class="image-preview">
      <img id="imagePreview" [src]="imagePreviewSrc" alt="Vista previa de la imagen" *ngIf="imagePreviewSrc">
    </div>
       <br>
    <div class="form-group">
      <label for="projectName">Presupuesto</label>
      <input type="text" id="projectName" name="projectName" required (input)="Solonumero($event)">
    </div>
    <div class="form-group">
      <label for="projectName">Recolectado</label>
      <input type="text" id="projectName" name="projectName" required>
    </div>
    <div class="form-group">
      <label for="projectDueDate">Fecha de Inicio</label>
      <input type="date" id="projectDueDate" name="projectDueDate" required>
    </div>
    <div class="form-group">
      <label for="projectDueDate">Fecha de Fin</label>
      <input type="date" id="projectDueDate" name="projectDueDate" required>
    </div>
    
    
    <div class="button-container">
      <button  class="submit-button cancelar"  (click)="onClose()" >Cancelar</button>
      <button  class="submit-button" (click)="onClose()" type="submit">Registrar Proyecto</button>
    
  </div>

  </form>
</div>