<body>
    <nav class="navbar">
        <div class="logo">
            <img src="/src/assets/binara.png" alt="">
            <a href="#">Fundación BINARA</a>
        </div>
        <div class="menu">
            <div class="menu-links">
                <a href="">Home</a>
                <a href="">About</a>
                <a href="">Contact</a>
                <a href="">Blog</a>
            </div>
            <button class="log-in">LogIn</button>
        </div>
        <div class="menu-btn">
            <i class="fa-solid fa-bars">sa</i>
        </div>
    </nav>
</body>