<body>
    <!-- <nav class="navbar"> -->
    <nav class="navbar" [style.background-image]="backgroundImages[selectedLink]">
        <div class="logo">
            <a href="#" (click)="changeBackground('')"><img class="logo" src="assets/logo.png" alt=""></a>
        </div>
        <div class="menu">
            <div class="menu-links">
                <a href="#" (click)="changeBackground('Nosotros')">Nosotros</a>
                <a href="#" (click)="changeBackground('Proyectos')">Proyectos</a>
                <a href="#" (click)="changeBackground('Anuncios')">Anuncios</a>
                <a href="#" (click)="changeBackground('Blog')">Blog</a>
                <a href="#" (click)="changeBackground('Contactanos')">Contactanos</a>
                <a href="#" (click)="changeBackground('Involúcrate')">Involúcrate</a>
            </div>
            <button class="log-in">Log In</button>
        </div>
        <div class="menu-btn">
            <i class="fa-solid fa-bars">sa</i>
        </div>
       <!--  <h1 class="subtitle">ss</h1> -->
    </nav>
</body>