<body>

    <header>

        <div class="navbar" [style.background-image]="backgroundImages[selectedLink]">
            <div class="logo"><a href="#" (click)="changeBackground('')"><img class="logo"
                        src="assets/img/logo_header.png" alt=""></a></div>

            <ul class="links">
                <li><a href="#" (click)="changeBackground('Home')">Home</a></li>
                <li><a href="#" (click)="changeBackground('Nosotros')">Nosotros</a></li>
                <li><a (click)="goToProjects(); changeBackground('Proyectos')">Proyectos</a></li>
                <li><a href="#" (click)="changeBackground('Anuncios')">Anuncios</a></li>
                <li><a href="#" (click)="changeBackground('Blog')">Blog</a></li>
                <li><a href="#" (click)="changeBackground('Contactanos')">Contactanos</a></li>
                <li><a href="#" (click)="changeBackground('Involúcrate')">Involúcrate</a></li>
                <li><a (click)="goToEstadisticas(); changeBackground('Estadisticas')">Estadisticas</a></li>
            </ul>

            <button class="log-in">Log In</button>

            <div class="toggle_btn" (click)="toggleMenu()">
                <i class='bx bx-menu' id="menu-icon"></i>
            </div>

        </div>

        <div class="dropdown_menu">
            <li><a href="#" (click)="changeBackground('Home')">Home</a></li>
            <li><a href="#" (click)="changeBackground('Nosotros')">Nosotros</a></li>
            <li><a href="#" (click)="changeBackground('Proyectos')">Proyectos</a></li>
            <li><a href="#" (click)="changeBackground('Anuncios')">Anuncios</a></li>
            <li><a href="#" (click)="changeBackground('Blog')">Blog</a></li>
            <li><a href="#" (click)="changeBackground('Contactanos')">Contactanos</a></li>
            <li><a href="#" (click)="changeBackground('Involúcrate')">Involúcrate</a></li>
            <li><button class="log-in">Log In</button></li>
        </div>

    </header>

</body>