<div class="project-details">
    <h1 class="titutlo">{{ proyecto.titulo }}</h1>
    <h5 *ngIf="proyecto.mapas && proyecto.mapas.length > 0">{{ getProvincia(proyecto.mapas[0].lugar) }}</h5>
    <div class="details-container">
        <div class="image-and-details">
            <div class="image-column">
                <div class="image-container">
                    <img [src]="proyecto.portada" alt="Imagen del proyecto">
                </div>
            </div>           

            <div class="details-column">
                <h3 class="titulodetalle">Detalles del Proyecto</h3>
                <div class="distanciaDetalle">
                    <p><strong>Fecha Inicio:</strong> {{ proyecto.fechaInicio | date:'MMMM dd, yyyy' }}</p>
                    <p><strong>Fecha Fin:</strong> {{ proyecto.fechaFin | date:'MMMM dd, yyyy'}}</p>
                    <p><span><i class="fas fa-dollar-sign"></i> Presupuesto:</span> {{ proyecto.presupuesto }}</p>
                    <p><span><i class="fas fa-hand-holding-usd"></i>Recolectado:</span> {{ proyecto.recolectado }}</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p><strong>Objetivo principal:</strong> {{ proyecto.objetivoPrincipal }}</p>
        <p><strong>Objetivos Específicos:</strong> {{ proyecto.objetivosSecundarios }}</p>
        <p>{{ proyecto.parrafoUno }}</p>
        <p>{{ proyecto.parrafoDos }}</p>
        <p>{{ proyecto.parrafoTres }}</p>
    </div>
</div>
