<div class="project-details">

    <!-- Encabezado -->
    <div class="header">
        <h1>{{ proyecto.titulo }}
        </h1>
        <p class="date"><strong>Inicio:</strong> 2023/08/19 | <strong>Final:</strong> 2023/08/19</p>
    </div>
    
    <hr>

    <!-- Descripción del proyecto -->
    <div class="description">
        <div class="image-container">
            <img src="assets/img/binara.png" alt="Imagen del proyecto" class="project-image">
        </div>
        
        <div class="text-content">
            <p><strong>Objetivo principal:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p><strong>Objetivos Específicos:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
        </div>
    </div>

    <!-- Detalles adicionales -->
    <div class="additional-details">
        <div class="paragraphs">
            <p>Parrafo uno: Lorem ipsum...</p>
            <p>Parrafo dos: Lorem ipsum...</p>
            <p>Parrafo tres: Lorem ipsum...</p>
        </div>
        
        <div class="budget">
            <p class="negrita"><span><i class="fas fa-dollar-sign"></i> Presupuesto:</span> $8.0000</p>
            <p class="negrita"><span><i class="fas fa-hand-holding-usd"></i> Recolectado:</span> $9.0000</p>
            
            <!-- Barra de progreso -->
            <div class="progress">
                <div class="progress-bar" style="width: 100%;">100%</div>
            </div>
        </div>
    </div>
</div>

