<div class="project-details">
    <h1>Proyecto- Fundacion Binara</h1>
    <p  class="date negrita">2023/08/19<span> - </span>2023/08/19</p>
    <hr>
    <br>
    <div>
        <p>Objetivo principal: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget suscipit justo. Nullam quis lorem eget ndfhdsf jhsdfhdf hsdgdf dsjdf kjfhsdjfd f  jfhgdsfgfd jdfgdfajh jhsdgsabfd sdjhfgdfsdgfag sdhjfbhasfdhfas dhfbafha bfhdhf .</p>
        <p>Objetivos Especificos :Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget suscipit justo. Nullam quis lorem eget.</p>
        <div class="image-container">
            <img src="assets/img/binara.png" alt="Imagen del proyecto">
        </div>
        <p>Parrafo uno: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget suscipit justo. Nullam quis lorem eget.</p>
        <p>Parrafo dos:Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget suscipit justo. Nullam quis lorem eget.</p>
        <p>Parrafo tres: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget suscipit justo. Nullam quis lorem eget.</p>
        <p class="negrita"><span>Presupuesto: $</span> 8.0000</p>
        <p class="negrita"><span>Recolectado: $</span> 8.0000</p>
    </div>
</div>
