.project-details {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-container {
    float: left;
    margin-right: 20px;
}

.project-image {
    max-width: 200px;
    border-radius: 10px;
}

.text-content {
    overflow: auto;
}

.description {
    margin-bottom: 20px;
}

.paragraphs p {
    margin-top: 10px;
}

.budget .negrita {
    font-weight: bold;
    margin-top: 10px;
}

.progress {
    background-color: #eaeaea;
    border-radius: 5px;
    height: 20px;
}

.progress-bar {
    background-color: #4CAF50;
    height: 100%;
    line-height: 20px;
    text-align: center;
    color: white;
}

