@import '../../../../app/core/styles/global-styles.scss';

footer {
  background: #0e1219;
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: $fuente_principal;
  position: relative;
  width: 100%;
  bottom: 0px;
}

.footer-top-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px;
  margin: 0 auto;
  padding: 16px;
  min-height: 140px;
}

.footer-top-wrapper>section {
  width: 180px;
}

h2 {
  text-align: left;
  color: #d2d0e6;
  font-family: $fuente_principal;
  margin-top: 0px;
  margin-bottom: 16px;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 600;
}

menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

menu li {
  margin-bottom: 16px;
}

.logo {
  width: 170px;
  height: 180px;
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 180px;
}

.social-links img {
  width: 24px;
  height: 24px;
}

.footer-top {
  max-width: 800px;
}

.footer-top li i {
  margin-right: 5px;
}

.custom-link {
  color: #f9f9f9;
}

.footer-bottom {
  height: 60px;
  margin-top: 3px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #1f1b3d;
  padding: 4px;
}

.footer-bottom>small {
  font-size: 16px;
  margin: 0 4px;
}

.background {
  background-color: #2C2C2C;
  display: grid;
  place-items: center;
  height: 100vh;
}

.social-media-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  margin-left: -50px;
}

.social-media-buttons li {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  display: grid;
  background-color: white;
  place-items: center;
  transition: all .3s;
  border: 1px solid white;
}

.social-media-buttons li a {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  color: #2C2C2C;
}

.social-media-buttons li a svg {
  height: 24px;
  width: 24px;
  stroke: #2C2C2C;
  stroke-width: 1.75;
  transition: .8s;
}

.social-media-buttons li:hover {
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 8px;
}

.social-media-buttons li:hover svg {
  stroke: white;
  transform: rotateY(360deg);
  stroke-width: 1.75;
}