<footer>
    <section class="footer-top-wrapper">
        <img class="logo" src="assets/logo.png" title='Logo' alt='Logo' />
        <section class='footer-top'>
            <h2>Social</h2>
            <span class='social-links'>
                <br>
                <a href="https://www.facebook.com/fundacionbinara"> <i class="fab fa-facebook"></i> </a> <br>
                <a href="https://twitter.com/fundacionxyz"><i class="fab fa-twitter"></i></a><br>
                <a href="https://instagram.com/fundacionxyz"><i class="fab fa-instagram"></i></a>
            </span>
        </section>
        <section>
            <menu>
                <h2>Contacto</h2>
                <li>
                    <i class="fas fa-map-marker-alt"></i>
                    <a> Luis Pasteur y Av. Abelardo J. Andrade, Cuenca, Ecuador</a>
                </li>

                <li>
                    <i class="far fa-envelope"></i>
                    <a class="custom-link" href="mailto:info@binara.org"> info@binara.org</a>
                </li>

                <li>
                    <i class="fas fa-phone"></i>
                    <a class="custom-link" href="tel:(593)52526146"> (593) 5 2526-146</a>
                </li>


            </menu>
        </section>
        <section>
            <menu>
                <h2>Accciones</h2>
                <li>
                    <a>Contáctanos</a>
                </li>
                <li>
                    <a>Suscríbete</a>
                </li>
                <li>
                    <a>Dona</a>
                </li>
            </menu>
        </section>
        <section>
            <menu>
                <h2>Menu Rapido</h2>
                <li>
                    <a>Blog</a>
                </li>
                <li>
                    <a>About Us</a>
                </li>
                <li>
                    <a>Contact</a>
                </li>
            </menu>
        </section>
    </section>
    <section class="footer-bottom">
        <small>©2023 Fundación Binara. Todos los derechos reservados. </small>
    </section>
</footer>