<div class="container d-flex flex-wrap justify-content-between">
    <div class="card flex justify-content-center mb-4">
        <p-chart type="pie" [data]="data" [options]="options"></p-chart>
    </div>
    <div class="card flex justify-content-center mb-4">
        <p-chart type="doughnut" [data]="data" [options]="options"></p-chart>
    </div>
    <div class="card mb-4">
        <p-chart type="bar" [data]="dataBarras" [options]="optionsBarras"></p-chart>
    </div>
    <div class="card mb-4">
        <p-chart type="bar" [data]="dataBC" [options]="optionsBC"></p-chart>
    </div>
    <div class="card mb-4">
        <p-chart type="line" [data]="dataLines" [options]="optionsLines"></p-chart>
    </div>
    <div class="card mb-4">
        <p-chart type="line" [data]="dataBL" [options]="optionsBL"></p-chart>
    </div>
</div>
