<div class="col-md-3">
    <div class="card mt-4">
        <img src="assets/binara.png" class="card-img-top foto" alt="...">
        <div class="card-body text-center"> <!-- Agrega la clase text-center para centrar el contenido horizontalmente -->
            <h5 class="card-title">Card title 1</h5>
            <p class="card-text">Some quick example text for card 1. Some quick example text for card 1. Some quick example text for card 1. Some quick example text for card 1. Some quick example text for card 1.</p>
            <a href="#" class="d-flex justify-content-center btn">Leer más</a>
        </div>
    </div>
</div>
