@import '../../../../../core/styles/global-styles';
@import '../../../../../core/styles/mixins';

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $fuente_principal;
  font-size: 1.6rem;
  line-height: 1.8;
}

p {
  color: $negro;
  font-size: 2rem;
}

.container {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
  margin-top: calc($separacion / 2);
  margin-bottom: calc($separacion / 2);
}

.nosotros {

  h2 {
    font-size: 3.1rem;
    font-weight: bolder;
  }

  .about-us {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .mision,
    .vision,
    .nosotros {

      flex: 1;
      padding: 20px;
      border-radius: 1rem;
      box-shadow: 0 2px 4px #009A63;
      margin: 10px;

      h3 {
        font-size: 2.5rem;
        font-weight: 300;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 870px) {
  .about-us {
    flex-direction: column;
    align-items: center;
  }

  .mision,
  .vision,
  .nosotros {
    width: 100%;
    min-width: auto;

    h3 {
      font-size: 2rem;
    }

    p {
      font-size: 1.3rem;
    }
  }
}

.quienes-somos {
  background-color: blueviolet;
}

a {
  text-decoration: none;
}

img,
picture {
  width: 100%;
  display: block;
}

h1,
h2,
h3 {
  font-family: $fuente_principal;
  margin: calc($separacion / 2) 0;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.4rem;
  font-weight: bold;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}

.contenido-centrado {
  max-width: 80rem;
}

.alinear-derecha {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
}

.boton-amarillo {
  @include boton($grisOscuro, inline-block);
}

.boton-amarillo-block {
  @include boton($grisOscuro, block);
}

.boton-verde {
  @include boton($verde, inline-block);
}

.sabias {
  background-color: $verde;
  font-size: 2.4rem;
  padding: 1rem;
  color: $blanco;
  border-radius: 2rem;

  blockquote {
    padding-left: 5rem;
    position: relative;

    &::before {
      content: '';
      background-image: url("../../../../../../assets/img/comilla.svg");
      background-repeat: no-repeat;
      width: 4rem;
      height: 6rem;
      display: block;
      position: absolute;
      left: -2%;
    }
  }

  p {
    text-align: right;
    color: $blanco;
  }

  h3 {
    font-weight: $bold;
    margin: 0;
  }

}

@include tablet {
  .contenedor-proyectosmarcha {
    @include grid(3, 2rem);
  }
}

.proyectomarcha {
  background-color: lighten($color: $gris, $amount: 5);
  border: 1px solid darken($color: $gris, $amount: 10);
  margin-top: 2rem;

  .contenido-proyecto {
    padding: 2rem;
  }

  h3,
  p {
    margin: 0;
  }
}

.inversion {
  color: $verde;
  font-weight: $bold;
  font-size: 3rem;
}

.iconos-caracteristicas {
  display: flex;
  list-style: none;
  padding: 0;
  max-width: 40rem;

  li {
    flex: 1;
    display: flex;

    img {
      flex: 0 0 3rem;
      margin-right: 1rem;
    }

    p {
      font-weight: $black;
    }
  }
}

/* BLOG */
@include tablet {
  .seccion-inferior {
    display: grid;
    column-gap: 2rem;
  }
}

.entrada-blog {
  margin-bottom: 2rem;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.texto-entrada {
  a {
    color: $negro;
    margin-top: 2rem;
    display: block;

    @include tablet {
      margin-top: 0;
    }
  }

  h4 {
    margin: 0;
    line-height: 1.4;

    &::after {
      content: '';
      display: block;
      width: 15rem;
      height: .5rem;
      background-color: $verde;
      margin-top: 1rem;
    }
  }

  span {
    color: $amarillo;
  }
}

@include tablet {
  .iconos-nosotros {
    @include grid(3, 2rem);
  }
}

.icono {
  text-align: center;

  img {
    height: 10rem;
  }

  h3 {
    text-transform: uppercase;
  }
}

/* PROYECTOS ACTIVOS */

.article-container {
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 5px 6px #030405;
  margin: 10px;
}

.image-container {
  position: relative;
}

.background {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 32px;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  max-width: 1200px;
  gap: 24px;
}

.articles article {
  max-width: 320px;
  cursor: pointer;
  position: relative;
  display: block;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  border-radius: 16px;
}

.articles article a {
  display: inline-flex;
  color: var(#DD946F);
  text-decoration: none;
}


.articles article h2 {
  margin: 0 0 18px 0;
  font-size: 1.6rem;
  color: var(#261E5A);
  transition: color 0.3s ease-out;
}


.articles article img {
  max-width: 100%;
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
}

.article-preview {
  padding: 24px;
  background: white;
}

.articles figure {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.articles figure img {
  height: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  object-fit: cover;
}

.articles article:hover img {
  transform: scale(1.5);
}

.add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.add-project-button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.negrita {
  font-weight: bold;
}

.btn {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  border: none;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5 -6px -6px 12px #ffffff;
}

.btn::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.btn:hover::before {
  width: 9em;
}